<%= link_to(@post, class: "block", data: {"turbo-frame": "main_frame", "turbo-action": "advance"}) do %>
  <div id="<%= dom_id @post, "feed_item" %>" class="flex flex-row pl-4 py-1.5 border-b-2 border-base-300 bg-base-200">
    <div class="w-5/6 basis-0 grow shrink break-all min-w-0">
      <div class="text-sm flex flex-row">
        <% if @post.instructor_note? %>
          <span class="mr-2 bg-neutral text-neutral-content pr-2 rounded-r-lg inline-flex items-center shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 bg-accent mr-1" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
            </svg>
            Instr
          </span>
        <% end %>
        <div class="font-semibold truncate">
          <%= @post.title %>
        </div>
      </div>
      <div class="text-sm break-all">
        <%= @post.content_snipet %>
      </div>
    </div>
    <div class="grow-0 shrink-0 pr-1">
      <div class="text-2xs self-end">
        <%= @post.created_at.strftime("%Y/%m/%d") %>
      </div>
      <div class="flex flex-row-reverse">
        <% if @post.post_type == "note" %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
