<%= form_with model: post, data: { "turbo-frame": "_top" } do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "input p-2 input-bordered" %>
  </div>

  <div class="form-control">
    <% if post.content_type.nil? %>
      <%= form.label :rich_content, style: "display: block" %>
      <%= form.rich_text_area :rich_content, class: "trix-content" %>
    <% else %>
      <% case post.content_type %>
      <% when "rich_content" %>
        <%= form.label :rich_content, style: "display: block" %>
        <%= form.rich_text_area :rich_content, class: "trix-content" %>
      <% else %>
        <%= form.label :content, style: "display: block" %>
        <%= form.rich_text_area :content, class: "trix-content" %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
