<div id="<%= dom_id post %>" class="relative border shadow px-3 py-2 rounded-md flex flex-col gap-2 bg-base-200">
  <div class="absolute top-0 right-0 p-2">
    cid: <%= post.cid %>
  </div>
  <div class="font-medium text-xl">
    <%= post.title %>
  </div>

  <div class="break-words">
    <div class="porse prose-sm prose-stone dark:prose-invert">
      <%== post.content %>
    </div>
  </div>

  <div class="flex flex-row gap-x-2 text-xs">
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, "#", class: "border px-1 py-0.5 rounded" %>
    <% end %>
  </div>

  <div class="self-end">
    Updated <%= time_ago_in_words(post.updated_at) %> ago by <%= post.user || "Unknown" %>
  </div>
</div>
