<!DOCTYPE html>
<html>
  <head>
    <title>Liteqa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>

  <body>
    <%= turbo_frame_tag "flash", class: "dark:text-gray-200 min-w-8 hidden sm:block" do %>
      <%= render "shared/flash" %>
    <% end %>

    <div class="drawer drawer-mobile">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <%= render "shared/navbar" %>

        <!-- Page content here -->
        <div role="main" class="">
          <%= yield %>
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-3" class="drawer-overlay"></label>
        <div class="menu overflow-y-auto w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          <%= yield :sidebar %>
        </div>

      </div>
    </div>






  </body>
</html>
